<%= form_with scope: :account, url: accounts_path, local: true do |form| %>
  <p>
    <%= form.label :Number%><br>
    <%= form.text_field :number %>
  </p>

  <p>
    <%= form.label :Amount%><br>
    <%= form.text_field:amount %>
  </p>
  <p>
    <%= form.label :Pin%><br>
    <%= form.text_field :pin %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<% if @account.errors.any? %>
  <div id="error_explanation">
    <h6>
      <%= pluralize(@account.errors.count, "Invalid input") %> Kindly  re-enter and try agian </h6>
    <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= link_to 'Home', "/" %>
